.tour-card {
  background: white;
  padding: 18px;
  border-radius: 18px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.06);
  transition: 0.2s ease;
}


body {
  color: #334155;
}

.tour-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
}

/* content flex */
.tour-content {
  flex-grow: 1;
}

/* Button */
.btn-yellow {
  background: #f5c242;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: 600;
  transition: 0.2s;
  text-align: center;
}

.btn-yellow:hover {
  background: #e0ad38;
}

/* Swiper Dots */
.tour-img-slider .swiper-pagination-bullets {
  bottom: 10px !important;
}

.tour-img-slider .swiper-pagination-bullet {
  background: white;
  opacity: 0.7;
}

.tour-img-slider .swiper-pagination-bullet-active {
  background: #f5c242;
  opacity: 1;
}

/* Mobile */
.tour-card {
  width: 100%;

  max-width: 520px;

  margin: 0 auto;
  /* center the card inside the grid */
  background: #fff;
  border-radius: 16px;
  padding: 15px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
  transition: transform .2s ease;
}

.tour-card:hover {
  transform: translateY(-4px);
}


@media (max-width: 500px) {
  .tour-card {
    max-width: 345px;
    padding: 10px;
  }
}